<div class="row mt-4">
  <div class="col-2 d-flex align-items-stretch">
    <%= render(Matey::ActiveUsersComponent.new(events: Ahoy::Event.all)) %>
  </div>
  <div class="col-2 d-flex align-items-stretch">
    <%= render(Matey::NewActivityComponent.new(events: Ahoy::Event.all, time_window: 1.month)) %>
  </div>
  <div class="col-3 d-flex align-items-stretch">
    <%= render(Matey::TopVisitedPagesTableComponent.new(events: Ahoy::Visit.all, time_window: 1.month)) %>
  </div>
  <div class="col-3 d-flex align-items-stretch">
    <%= render(Matey::NewUsersComponent.new(users: User.all, time_window: 2.months )) %>
  </div>
  <div class="col-2 d-flex align-items-stretch">
    <%= render(Matey::TopEventsComponent.new(events: Ahoy::Event.all, time_window: 1.month )) %>
  </div>
</div>