<div class="card  <%= @color_scheme %>">
  <div class="card-body">
    <div class="row">
      <h5 class="text-center">Browser and OS Breakdown</h5>
      <div class="col">
        <p class="text-center">Since <%= time_ago_in_words(@time_window.ago).titleize %> Ago</p>
        <table class='table table-hover table-borderless'>
          <thead class='table-dark'>
            <th>Browser</th>
            <th class='text-center'>Visitor Count</th>
          </thead>
          <tbody class='text-dark border-dark'>
            <% @browsers.each do |browser_name, visitor_count| %>
              <tr>
                <td><%= browser_name %></td>
                <td class='text-center'><%= visitor_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class='table table-hover table-borderless'>
          <thead class='table-dark'>
            <th>OS</th>
            <th class='text-center'>Visitor Count</th>
          </thead>
          <tbody class='text-dark border-dark'>
            <% @operating_systems.each do |operating_system, visitor_count| %>
              <tr>
                <td><%= operating_system %></td>
                <td class='text-center'><%= visitor_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
