<div class="card <%= @color_scheme %>">
  <div class="card-body">
    <h5>Top Landing Page Visits Since <%= time_ago_in_words(@time_window.ago).titleize %> Ago (<%= @time_window.ago.strftime("%m/%d/%Y") %>)</h5>
    <div>
      <table class="table table-hover table-borderless table-sm">
        <thead class="table-dark">
          <tr>
            <th>Path/Page</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody class="text-dark border-dark">
          <% @user_count_by_event.each do |controller_name_and_action, count| %>
            <tr>
              <td><%= controller_name_and_action %></td>
              <td class="text-end"><%= count %></td>
            </tr>
          <% end %>
          <tr class="table-dark">
            <td><strong>Total:</strong></td>
            <td class="text-end"><%=  @user_count_by_event.sum {|controller_name_and_action, count| count} %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- .card-body -->
</div><!-- .card -->
