<div class="card bg-light text-dark border-dark">
  <div class="card-body">
    <h5>User Activity for <i>user id: <%=@user_id%></i> since <i><%= time_ago_in_words(@time_window.ago).titleize %></i> ago </h5>
    <div>
      <table class="table table-hover table-borderless table-sm">
        <thead class="table-dark">
          <tr>
            <th class="text-start">Event</th>
            <th class="text-end">Count</th>
          </tr>
        </thead>
        <tbody class="text-dark border-dark">
          <% @count_by_event.each do |event, count| %>
            <tr>
              <td><%= event %></td>
              <td class="text-end"><%= count %></td>
            </tr>
          <% end %>
          <tr class="table-dark">
            <td><strong>Total:</strong></td>
            <td class="text-end"><%=  @count_by_event.sum {|event, count| count} %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- .card-body -->
</div><!-- .card -->
